{#
/**
 * @file
 * Default theme implementation of an atom element.
 *
 * Available variables:
 * - sources: The attributes of the <source> tags for this <picture> tag.
 * - img_element: The controlling image, with the fallback image in srcset.
 * - output_image_tag: Whether or not to output an <img> tag instead of a
 *   <picture> tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_atom_element()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {{ element }}
</div>
