{#
/**
 * @file
 * Default theme implementation of an atom.
 *
 * Available variables:
 * - atom: The atom object itself.
 * - type: The type of atom.
 * - data: The data the atom includes.
 * - content: All atom items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.title }}. Use
 *   {{ content|without('title') }} to temporarily suppress the printing
 *   of a given child element.
 *
 * @see template_preprocess()
 * @see template_preprocess_atom()
 *
 * @ingroup themeable
 */
#}

{{ content }}
